.login-card {
  width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(40, 39, 39, 0.95);
}

.full-width {
  width: 100%;
  color: white;

}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
  color: #1976d2;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

button {
  margin-top: 15px;
  font-size: 16px;
  border: 1px solid  white;
  color: white;
}
.title{
  padding-bottom: 25px;
  color: white;
  font-family: "Agency FB", sans-serif;
  text-align: center;
  margin-left: 40px;
  margin-right: auto;
}
.app-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

}

