.user-management-card {
  padding: 16px;
  margin: auto;
  width: 80%;
}

.user-table {
  width: 100%;
}

.flex-spacer {
  flex: 1;
}

mat-header-cell {
  font-weight: bold;
}

mat-icon {
  cursor: pointer;
}
